<a href="https://colab.research.google.com/github/burrfer/TPF-CSS-UNAB/blob/mi-primer-brunch/puntos_digitales_y_densidad_en_la_PBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las librerias necesarias
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##Comenzamos a trabajar con el dataset que nos brinda Argentina.gob.ar de la sección "País digital", para ver los puntos digitales que hay en la provincia de Buenos Aires.

In [ ]:
#Cargamos la url para tomar el dataset.
df_PD = pd.read_csv('https://servicios.puntodigital.paisdigital.modernizacion.gob.ar/ws/ws-eventos.php?method=getCsv')

In [ ]:
#Vemos que información nos arroja.
df_PD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pd                 661 non-null    int64
 1   nombre_pd             661 non-null    object
 2   direccion             661 non-null    object
 3   nombre_institucional  661 non-null    object
 4   id_provincia          661 non-null    object
 5   id_departamento       661 non-null    int64
 6   id_localidad          661 non-null    int64
 7   cod_bahra_localidad   661 non-null    int64
 8   id_municipio          661 non-null    object
 9   provincia             661 non-null    object
 10  departamento          661 non-null    object
 11  localidad             661 non-null    object
 12  municipio             661 non-null    object
 13  mail_institucional    597 non-null    object
 14  latitud               661 non-null    float64
 15  longitud              661 non-null    float64
 16  horarios              594 non-null    object
 17  link_facebook         138 non-null    object
 18  estado                661 non-null    object
dtypes: float64(2), int64(4), object(13)
memory usage: 98.2+ KB

In [ ]:
#Listamos para ver la información que contiene cada columna.
df_PD.head(2)

,id_pd,nombre_pd,direccion,nombre_institucional,id_provincia,id_departamento,id_localidad,cod_bahra_localidad,id_municipio,provincia,departamento,localidad,municipio,mail_institucional,latitud,longitud,horarios,link_facebook,estado
0,40,Berisso I,33 S/N esquina 169 (Barrio Obrero),CIC,AR-B,1208,323,6098010004,BUE014,Buenos Aires,Berisso,Berisso,Berisso,berisso@puntodigital.gob.ar,-34.881902,-57.85778,"Lunes 08:00 a 17:00 , Martes 08:00 a 17:00 , M...",https://www.facebook.com/nac.berisso/?notif_t=...,Activo
1,41,Cañuelas,Mozotegui 807,Edificio Municipal,AR-B,1213,431,6134030000,BUE018,Buenos Aires,Cañuelas,Cañuelas,Cañuelas,canuelas@puntodigital.gob.ar,-35.049960,-58.76252,"Lunes 08:00 a 18:00 , Martes 08:00 a 18:00 , M...",https://www.facebook.com/Punto-Digital-Cañuela...,Activo

In [ ]:
#Seleccionamos las columnas que nos interesan.
df_PD = df_PD[['provincia','departamento','localidad','nombre_pd','direccion','latitud','longitud',]]
df_PD.head(2)

,provincia,departamento,localidad,nombre_pd,direccion,latitud,longitud
0,Buenos Aires,Berisso,Berisso,Berisso I,33 S/N esquina 169 (Barrio Obrero),-34.881902,-57.85778
1,Buenos Aires,Cañuelas,Cañuelas,Cañuelas,Mozotegui 807,-35.049960,-58.76252

In [ ]:
#Con el método LOC seleccionamos el conjunto de elementos que hace referencia a "Buenos Aires" dentro de la columna "provincia" y reducimos el DF a ese conjunto.
df_PDBSAS = df_PD.loc[df_PD.loc[:, 'provincia'] == 'Buenos Aires']

In [ ]:
df_PDBSAS.shape

(142, 7)

In [ ]:
#Renombramos la columna.
df_PDBSAS = df_PDBSAS.rename(columns={'departamento':'partido'})
df_PDBSAS.columns

Index(['provincia', 'partido', 'localidad', 'nombre_pd', 'direccion',
       'latitud', 'longitud'],
      dtype='object')

In [ ]:
#Buscamos el partido "Lanus" para ver cuantos puntos digitales tiene (vemos que son 4) y lo comparamos con el mapa de la página:
# https://www.argentina.gob.ar/jefatura/innovacion-publica/servicios-y-pais-digital/pais-digital/punto-digital#877
#Luego encontramos coincidencia.
df_PDBSAS.loc[df_PDBSAS.loc[:, 'partido'] == 'Lanus']

,provincia,partido,localidad,nombre_pd,direccion,latitud,longitud
12,Buenos Aires,Lanus,Remedios Escalada de San Martin,Lanús I (Pupi),Monseñor Hladnik 3856,-34.715557,-58.417292
239,Buenos Aires,Lanus,Lanus Este,Lanús III (Velódromo),Córdoba 2300,-34.714971,-58.388110
281,Buenos Aires,Lanus,Lanus Oeste,Lanús IV (NIDO Jardín),Pje Aguirre,-34.677738,-58.434029
282,Buenos Aires,Lanus,Monte Chingolo,Lanús V (NIDO),Pitagoras 4550,-34.728690,-58.350705

In [ ]:
#Hacemos los mismo con el partido de "Almirante Brown".
df_PDBSAS.loc[df_PDBSAS.loc[:, 'partido'] == 'Almirante Brown']

,provincia,partido,localidad,nombre_pd,direccion,latitud,longitud
588,Buenos Aires,Almirante Brown,Glew,Almirante Brown,Garibaldi 220,-34.874579,-58.358651

In [ ]:
#Con el método groupby seleccionamos la columna partido y hacemos un count para contabilizar cuantos punto digitales hay por partido.
df_PDBSAS.groupby(["partido"])["partido"].count().reset_index(name="cantidad_pd")

            partido  cantidad_pd
0     Adolfo Alsina            1
1           Alberti            1
2   Almirante Brown            1
3         Arrecifes            1
4          Ayacucho            1
..              ...          ...
92  Tres de Febrero            1
93    Vicente Lopez            1
94     Villa Gesell            1
95        Villarino            1
96           Zarate            2

[97 rows x 2 columns]

In [ ]:
#Creamos un nuevo DF tomando la columna partido y cantidad de puntos digitales.
df_cantidad_pd_partido = df_PDBSAS.groupby(["partido"])["partido"].count().reset_index(name="cantidad_pd")
df_cantidad_pd_partido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   partido      97 non-null     object
 1   cantidad_pd  97 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

##Cargamos un nuevo dataset con información sobre la densidad poblacional de la Provincia de Buenos Aires

In [ ]:
#Cargamos el dataset desde el Drive.
df_densidadbsas = pd.read_csv('/content/drive/MyDrive/Diplomatura ccc/Evaluación Final/Superficie_densidad_poblacion_urbana_rural_2010.xlsx - Población (1).csv')

In [ ]:
#Vemos que información nos arroja: 134 filas y 5 columnas.
df_densidadbsas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Municipios       134 non-null    object
 1   Población 2010   134 non-null    object
 2   Superficie (Km)  134 non-null    object
 3   Densidad hab/Km  134 non-null    object
 4   2010             134 non-null    object
dtypes: object(5)
memory usage: 5.4+ KB

In [ ]:
#Listamos las columna "Municipios".
df_densidadbsas['Municipios']

0                Adolfo Alsina
1      Adolfo Golnzalez Chaves
2                      Alberti
3              Almirante Brown
4                    Arrecifes
                ...
129                 25 de mayo
130              Vicente Lopez
131               Villa Gesell
132                  Villarino
133                     Zarate
Name: Municipios, Length: 134, dtype: object

*Cómo vemos el contenido de la columna "Municipios" coincide con el contenido de la columna "partido" del "df_cantidad_pd_partido". Por lo tanto nos conviene renombrar dicha columna, asignando el mismo nombre, para luego poder proceder con la unión de los DF.*

In [ ]:
#Renombramos la columna.
df_densidadbsas = df_densidadbsas.rename(columns={'Municipios':'partido'})
df_densidadbsas.columns

Index(['partido', 'Población 2010', 'Superficie (Km)', 'Densidad hab/Km',
       '2010'],
      dtype='object')

In [ ]:
#Por medio del método merge, hacemos el join de manera tal que utilizando la condición outer,
#tomará todas las etiquetas presentes en ambos dataframes. 
pd.merge(df_cantidad_pd_partido, df_densidadbsas, how = 'outer')

,partido,cantidad_pd,Población 2010,Superficie (Km),Densidad hab/Km,2010
0,Adolfo Alsina,1.0,17.072,"5.877,9","2,9","75,4"
1,Alberti,1.0,10.654,"1.125,0","9,5","77,5"
2,Almirante Brown,1.0,552.902,"129,3","4275,1","99,9"
3,Arrecifes,1.0,29.044,"1.240,7","23,4","90,9"
4,Ayacucho,1.0,20.337,"6.748,9","3,0","85,4"
...,...,...,...,...,...,...
129,Talpalque,NaN,9.178,"4.149,2","2,2","81,1"
130,Tigre,NaN,376.381,"304,4","1236,7","98,5"
131,Tordillo,NaN,1.764,"1.295,6","1,4","0,0"
132,Tornquist,NaN,12.723,"4.149,3","3,1","67,9"
133,25 de mayo,NaN,35.842,"4.769,5","7,5","77,9"

In [ ]:
#Generamos un nuevo DF con el resultado de la unión.
df_union = pd.merge(df_cantidad_pd_partido, df_densidadbsas, how = 'outer')
df_union.head(100)

,partido,cantidad_pd,Población 2010,Superficie (Km),Densidad hab/Km,2010
0,Adolfo Alsina,1.0,17.072,"5.877,9","2,9","75,4"
1,Alberti,1.0,10.654,"1.125,0","9,5","77,5"
2,Almirante Brown,1.0,552.902,"129,3","4275,1","99,9"
3,Arrecifes,1.0,29.044,"1.240,7","23,4","90,9"
4,Ayacucho,1.0,20.337,"6.748,9","3,0","85,4"
...,...,...,...,...,...,...
95,Villarino,1.0,31.014,"10.099,9","3,1","75,9"
96,Zarate,2.0,114.269,"1.188,9","96,1","95,2"
97,Adolfo Golnzalez Chaves,NaN,12.047,"3.859,2","3,1","75,3"
98,Avellaneda,NaN,342.677,"52,5","6.529,7",100
99,Benito Juarez,NaN,20.239,"5.071,9","4,0","83,8"

###Ahora que llegamos a esta instancia vamos a comprobar si por medio de la unión de los dos DF trabajados podemos arrojar nueva información. Esta búsqueda se centrará en detectar los partidos (municipios) de la Provincia de Buenos Aires que no cuentan con puntos digitales y por otra parte conocer la relación de densidad poblacional con los partidos que sí cuentan con puntos digitales.